<div class="tehno">
        <div class="row">
            <div class="col sx12 sm4 lg12 md4">
                <div class="tehno-fundament-img">
                    <img src="img/fundament.png" alt="">
                </div>
            </div>
        
        <div class="col sx12 sm8 lg12 md8">
            <div class="tehno-fundament-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam cumque, nobis blanditiis inventore dicta vel? Deleniti, corporis est laborum delectus aspernatur quasi culpa enim debitis, assumenda inventore soluta recusandae quia.</p>
            </div>
        </div>
        </div>
    
    
</div>